

body
{
  margin: 0;
  text-align: center;
  
}
h1
{
  font-size: 5.62rem;
  margin: 50px auto 0 auto;
  font-family: 'Great Vibes', cursive;
  color: #66BFBF;
}
h2
{
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;

}
h3
{
  font-family: 'Raleway', sans-serif;
  color: #11999E;
}
a
{
  color: #11999E;
}
p
{
  color: #40514E;
  font-weight: 600;
}
.dot
{
  border-color: rgb(81, 129, 129);
  border-width: 5px;
  border-style: dotted none none none;
  height: 10px;
  width: 5%;
}
.subtitle
{
  font-weight: normal;
}
.top
{
  background-color: #EAF6F6;
  position: relative;
  padding: 100px;
}
.bottom
{
  background-color: #66BFBF;
  padding: 30px 0 20px 0 ;
  line-height: 2;
}

.top_cloud
{
  position: absolute;
  top: 50px;
  right: 400px;
}
.bottom_cloud
{
  position: absolute;
  left: 300px;
  bottom: 400px;
}
.mountain
{
  position: relative;
  top: 100px;
}
.web_developing
{
  text-align: left;
  width: 25%;
  float: left;
  margin: 0 30px 0 0;
}
.games
{
  text-align: right ;
  width: 25%;
  float: right;
  margin: 0 0 0 30px;
  
}
.logo
{
  width: 30px;
  height: auto;
  margin: 20px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.profile
{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.contact-me
{
  line-height: 2;
}
.copy
{
  color: #EAF6F6;
  
}
